.big-container {
  background-color: black;
}

.top {
  border: 1px solid black;
  justify-content: flex-end;
}

.main {
  border: 1px solid black;
  flex-grow: 1;
  justify-content: center;
  margin: 3rem;
  padding: 1.2rem;
  height: 70%;
}

.card {
  width: calc(100% / 7);
  height: calc(100% / 5);
}

.card img {
  width: 100%;
  height: 100%;
  padding: 0px 5px;
}

.bottom {
  /* border: 1px solid black; */
  background-color: black;
  width: 100%;
  justify-content: space-between;
}

.bottomIcons .fa-solid {
  font-size: 25px;
  color: black;
  text-decoration: none;
  color: white;
}

.bottom-left div {
  padding: 5px;
}

.bottom-center div {
  padding: 5px;
}

.bottom-right div {
  padding: 5px;
}

.bottom a > div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.fa-share-from-square::before {
  color: rgb(1, 169, 1);
}

.bottom-right button {
  width: 100%;
  color: red;
  background-color: rgb(50, 50, 50);
  border: 0;
  padding: 10px;
}

/* .bottom-center {
  padding: 10px 10px;
} */
